html{
	background:white;
}

table{
  border:1px solid black;
	margin:5px;
}

td,th,tr{
  padding-left:10px;padding-right:10px;
	padding-top:5px;padding-bottom:5px;border:1px solid black;
	text-align:center;
}



thead{
 colspan:2;
 background:blue;
 color:yellow;
}

#hwtable th{
  text-align:center;
	color:yellow;
	background:brown;
}

tr.oddrow{
  background:lightgray;
}
tr.evenrow{
  background:#f0ffff;
}
tr.examrow, tr.finalrow{
  background:yellow;
	color:darkblue;
	font-weight:bold;
}

tr.oddrow > td:first-child,tr.evenrow > td:first-child,
tr.examrow > td:first-child,tr.finalrow > td:first-child{
  text-align:center;
}
/*--------------------------------*/
		
#footer {
	/*background:maroon;*/
	clear: both;
}
